In [12]:
import pdfplumber
import pandas as pd

# PDF extraction and data transformation
pdf_path = "signed (1).pdf"

def extract_data_from_pdf(pdf_path, page_num, maxscore=5):
    data = []
    with pdfplumber.open(pdf_path) as pdf:
        page = pdf.pages[page_num - 1]  # Adjust page index since it's 0-based
        table = page.extract_table()
        if table:
            for row_index, row in enumerate(table):
                for col_index, cell in enumerate(row):
                    if cell and 'X' in cell:
                        data.append((row_index, abs(maxscore-col_index)))
    
    return pd.DataFrame(data, columns=['Question number', 'Column Marked with X'])

df_page1 = extract_data_from_pdf(pdf_path, page_num=1, maxscore=4)
df_page2 = extract_data_from_pdf(pdf_path, page_num=2, maxscore=5)

In [17]:
df_page1

   Question number  Column Marked with X
0                1                     1
1                2                     1
2                3                     1
3                4                     1
4                5                     1

In [16]:
df_page2

    Question number  Column Marked with X
0                 1                     0
1                 2                     0
2                 3                     0
3                 4                     0
4                 5                     1
5                 6                     1
6                 7                     1
7                 8                     1
8                 9                     1
9                10                     1
10               11                     1
11               12                     1
12               13                     0
13               14                     1
14               15                     0
15               16                     1
16               17                     0
17               18                     1
18               19                     0
19               20                     0
20               21                     1
21               22                     1

In [65]:
import os

def generate_table(folder_path, maxscore=5, pagenum=1, qnum=22):
    result = pd.DataFrame(columns=[f'Response to Question number {i}' for i in range(-1, qnum + 1)])
    result = result.rename(columns={'Response to Question number -1': 'id'})
    result = result.rename(columns={'Response to Question number 0': 'date'})
    idx = 0
    for filename in os.listdir(folder_path):
        if filename.endswith(".pdf"):
            pdf_path = os.path.join(folder_path, filename)
            df_page = extract_data_from_pdf(pdf_path, page_num=pagenum, maxscore=maxscore)
            result.at[idx, 'id'], result.at[idx, 'date']  = filename.split('.')[0].split('|')
            for jdx, row in df_page.iterrows():
                col_name = f'Response to Question number {row["Question number"]}'
                result.at[idx, col_name] = row['Column Marked with X']
            
            idx += 1
    #result.to_excel(f'Responses from page {pagenum}.xlsx')
    return result

In [66]:
generate_table('/home/schwartz/Downloads/test/', pagenum=1, qnum=5, maxscore=4)

,id,date,Response to Question number 1,Response to Question number 2,Response to Question number 3,Response to Question number 4,Response to Question number 5
0,00000,09-12-2021,1,1,1,1,1

In [63]:
generate_table('/home/schwartz/Downloads/test/', pagenum=2, qnum=22, maxscore=5)

,filename,Response to Question number 1,Response to Question number 2,Response to Question number 3,Response to Question number 4,Response to Question number 5,Response to Question number 6,Response to Question number 7,Response to Question number 8,Response to Question number 9,...,Response to Question number 13,Response to Question number 14,Response to Question number 15,Response to Question number 16,Response to Question number 17,Response to Question number 18,Response to Question number 19,Response to Question number 20,Response to Question number 21,Response to Question number 22
0,signed (1)-1 (copy).pdf,0,0,0,0,1,1,1,1,1,...,0,1,0,1,0,1,0,0,1,1
1,signed (1)-1.pdf,0,0,0,0,1,1,1,1,1,...,0,1,0,1,0,1,0,0,1,1
2,signed (1)-1 (another copy).pdf,0,0,0,0,1,1,1,1,1,...,0,1,0,1,0,1,0,0,1,1